{{ define "basicCard" }}
    <div class="card text-center" style="display: flex">
        <h5 class="card-header">{{.Title}}</h5>
        <div class="card-body">
            <p class="card-text">{{.Description}}</p>
            <form hidden action="/{{.Action}}" method="post" id="{{.Action}}"></form>
            <button class="btn btn-primary" type="submit" form="{{.Action}}">{{.Button}}</button>
        </div>
    </div>
{{ end }}