{{ define "editSerial" }}
    {{template "header" .}}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="card border-light px-4 py-5 text-center">
                    <div class="card-header bg-white pb-0">
                        <h2 class="h1 mb-3">{{.Title}}</h2>
                    </div>
                    {{ $formData := .FormData }}
                    <div class="card-body pt-2 px-0">
                        {{ range $i, $softwareName := .Softwares }}
                            {{ $installations := FindInstallationsBySoftware $softwareName }}

                            {{ if eq (len $installations) 0 }}
                                <!-- Don't event show the table when there are no installations -->
                            {{ else }}
                                <h5>{{ $softwareName }}</h5>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">License</th>
                                        <th class="text-center" scope="col">Actions</th>
                                    </tr>
                                    </thead>

                                    {{ range $index , $element := $installations }}
                                        <tbody>
                                        <tr>
                                            <th scope="row">{{inc $index}}</th>
                                            <td>
                                                <div class="d-flex align-items-left">
                                                    {{.Year}}
                                                </div>
                                            </td>

                                            {{if (and (eq $formData.Name $softwareName) (eq $formData.Year .Year) (eq $formData.Serial .License.Serial))}}
                                                <td style="padding-top: 8px; padding-bottom: 4px">
                                                    <div class="d-inline-flex col-8">
                                                        <div class="input-group input-group-sm mb-1">
                                                            <input type="text" name="serial" form="newLicense"
                                                                   class="form-control" id="serial"
                                                                   placeholder="{{.License.Serial}}">
                                                            <button type="submit" form="newLicense"
                                                                    class="btn btn-outline-success">
                                                                <span><i class="fas fa-check"></i></span>
                                                            </button>
                                                            <form action="/updateSerial" id="newLicense" method="post">
                                                                <input type="hidden" name="softwareName"
                                                                       value="{{$softwareName}}">
                                                                <input type="hidden" name="appYear" value="{{.Year}}">
                                                            </form>
                                                            <button type="submit" form="cancelEdit"
                                                                    class="btn btn-outline-secondary">
                                                                <span><i class="fas fa-times"></i></span>
                                                            </button>
                                                            <form action="/" id="cancelEdit" method="post">
                                                                <input type="hidden" name="softwareName"
                                                                       value="{{$softwareName}}">
                                                                <input type="hidden" name="appYear" value="{{.Year}}">
                                                                <input type="hidden" name="serial" value="{{.License.Serial}}">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            {{else}}
                                                <td>
                                                    {{.License.Serial}}
                                                    <div class="d-inline-flex">
                                                        <i class="fas fa-edit mr-3" data-placement="top"
                                                           title="Edit Serial" data-target="#modal-form"></i>
                                                        <form action="/editSerial" method="post">
                                                            <input type="hidden" name="softwareName"
                                                                   value="{{$softwareName}}">
                                                            <input type="hidden" name="appYear" value="{{.Year}}">
                                                            <input type="hidden" name="serial" value="{{.License.Serial}}">
                                                        </form>
                                                    </div>
                                                </td>
                                            {{end}}
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <i class="fas fa-trash fa-disabled text-danger mr-2"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    {{end}}
                                </table>
                            {{end}}
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer"}}
{{ end }}