{{define "header"}}

    <!DOCTYPE html>
    <html lang="en" class="h-100">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- Primary Meta Tags -->
        <title>Vectorworks, Inc. Application Utility</title>

        <meta http-equiv="Content-Security-Policy"
              content="default-src *; style-src 'self' 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval' *">
        <!--    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="title" content="Vectorworks, Inc. Application Utility">
        <meta name="author" content="Josh Peizer">
        <meta name="description"
              content="Application created to create useful utilities for the Vectorworks Application family">
        <link rel="canonical" href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit">

        <!-- Fontawesome -->
        <link type="text/css" href="vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

        <!-- Pixel CSS -->
        <link type="text/css" href="css/preloader.css" rel="stylesheet">
        <link type="text/css" href="css/pixel.css" rel="stylesheet">

        <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

    </head>

    <body class="d-flex flex-column h-100 bg-gray-200">
    <main class="flex-shrink-0">

    <!-- Hero -->
    <section class="section-header" style="padding-top: 1rem; padding-bottom: 1rem">
    <div id="content" class="container">
    <!-- Access the preloader -->
    <preloader></preloader>
{{end}}






{{define "footer"}}
    </div>
    </section>
    </main>
    </body>
    <footer class="footer mt-auto py-1 bg-dark">
        <div class="container">
        <span class="text-gray-600 fa-pull-right">
            Any questions or issues should be directed to Josh Peizer.
        </span>
        </div>
    </footer>


    <!-- Custom Scripts -->
    <script src="js/preloader.js"></script>
    <script src="js/scripts.js"></script>
    <script type="text/javascript">
        index.init()
    </script>

    <!-- Core -->
    <script src="vendor/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor JS -->
    <script src="vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="vendor/nouislider/distribute/nouislider.min.js"></script>

    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>


    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- pixel JS -->
    <script src="js/pixel.js"></script>
    </html>
{{end}}