{{ define "editSerialBtn" }}
    <button class="btn btn-facebook" type="button">
        <span class="me-1"><span class="fab fa-facebook-f"></span></span>
        Login with Facebook
    </button>
{{ end }}