{{ define "homePage" }}
    <div class="card">
        <div class="card-header border-bottom border-gray-300">
            <h2 class="h5 mb-0">Vectorworks Utility App</h2>
        </div>
        <div class="card-body">
            <div class="row align-items-center mb-4">
                {{/*<!-- Show Table View -->*/}}
                {{ range $i, $softwareName := .Softwares -}}
                    {{/*<!-- Get list of installations for each software -->*/}}
                    {{ $installations := FindInstallationsBySoftware $softwareName }}
                    {{/*<!-- Make sure there are installations -->*/}}
                    {{ if eq (len $installations) 0 }}
                        {{/*<!-- Don't event show the table when there are no installations -->*/}}
                    {{ else }}
                        {{/*<!-- Display table per installation found -->*/}}
                        {{/*<!-- Table Label -->*/}}
                        <h5 class="text-left">{{ $softwareName }}</h5>
                        <table class="table table-sm align-middle">
                            {{/*<!-- Table Headers -->*/}}
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Version</th>
                                <th scope="col">License</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            {{/*<!-- Table Body -->*/}}
                            <tbody>
                            {{ range $index, $install := $installations -}}
                                <tr>
                                    <th scope="row">{{ inc $index }}</th>
                                    <td>{{ .Year }}</td>
                                    <td class="mx-4">
                                        <!-- Edit the Serial numbers -->
                                        <div id="{{ $softwareName }}-{{ .Year }}-edit" class="input-group input-group-sm" data-display="edit">
                                            <input type="text" class="form-control" placeholder="{{ .License.Serial }}" aria-label="Serial number with save and cancel">
                                            <button class="btn btn-sm btn-outline-success" type="button"><span class="fal fa-check" data-software="{{ $softwareName }}" data-year="{{ .Year }}"></span></button>
                                            <button class="btn btn-sm btn-outline-danger" type="button"><span class="fal fa-times"></span></button>
                                        </div>
                                        <!-- Show the Serial number -->
                                        <div hidden id="{{ $softwareName }}-{{ .Year }}-display" data-display="display">
                                            {{ .License.Serial }}
                                            <i class="fal fa-edit ms-1" data-software="{{ $softwareName }}" data-year="{{ .Year }}"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button id="dropdown-{{ $softwareName }}-{{ .Year }}" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Actions
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown-{{ $softwareName }}-{{ .Year }}">
                                                <li><a class="dropdown-item" href="#">Clear User Folder</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li>
                                                    <div class="dropdown-item">Nuke</div>
                                                    <div class="icon icon-primary icon-sm">
                                                        <span class="fas fa-burn"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="icon icon-primary icon-sm">
                                            <span class="fas fa-burn"></span>
                                        </div>
                                    </td>
                                </tr>
                            {{ end -}}
                            </tbody>
                        </table>
                    {{ end -}}
                {{ end -}}
            </div>
        </div>
    </div>
{{ end }}